@model KStore.Models.UserAdmin

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<div>
    <hr />
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thông tin admin cần xóa</h4>
            <div class="table-responsive">
                <table class="product-info-table m-t-20">
                    <tbody>
                        <tr>
                            <td>Mã Admin:</td>
                            <td>
                                @Html.DisplayFor(model => model.codeAdmin)
                            </td>
                        </tr>
                        <tr>
                            <td>Tên Admin:</td>
                            <td>
                                @Html.DisplayFor(model => model.nameAdmin)
                            </td>
                        </tr>
                        <tr>
                            <td>Tên tài khoản:</td>
                            <td> @Html.DisplayFor(model => model.userName)</td>
                        </tr>
                        <tr>
                            <td>Mật khẩu:</td>
                            <td> @Html.DisplayFor(model => model.passWord)</td>
                        </tr>

                        <tr>
                            <td>Số điện thoại:</td>
                            <td> @Html.DisplayFor(model => model.phone)</td>
                        </tr>
                        <tr>
                            <td>Trạng thái hoạt động:</td>
                            <td> @Html.DisplayFor(model => model.access)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
