@using KStore.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<Order>
@{
    ViewBag.Title = "TinhTrangGiaoHang";

}

@Styles.Render("~/Style/TinhTrangGiaoHang/css")

@foreach (var item in Model)
{
    <div class="container1">
        <b style="font-family:'Times New Roman'; font-size:25px">Ngày đặt hàng :  @string.Format("{0:dd-MM-yyyy HH:mm:ss}", item.orderDate) </b>
        <h1 style="font-family:'Times New Roman'; font-size: 50px">Tình trạng giao hàng</h1>
        <b style="font-family:'Times New Roman'; font-size:25px">Số hóa đơn : #@item.codeOrder</b>
        @if (item.deliveryStatus == "Chờ xác nhận")
        {
            <div class="progress-steps">
                <div class="step in-progress">
                    <div class="step-icon">&#9711;</div>
                    <div class="step-label">Chờ xác nhận</div>
                </div>
                <div class="step">
                    <div class="step-icon">&#9711;</div>
                    <div class="step-label">Đang đóng gói</div>
                </div>
                <div class="step">
                    <div class="step-icon">&#9711;</div>
                    <div class="step-label">Đang giao hàng</div>
                </div>
                <div class="step">
                    <div class="step-icon">&#9711;</div>
                    <div class="step-label">Chờ xử lý</div>
                </div>
            </div>
            <a href="javascript:void(0);" class="order-details-link" data-id="@item.idOrder">
                <div style="text-align: right; margin-top: 15px">
                    <button class="btn btn-primary">XEM CHI TIẾT</button>
                </div>
            </a>
            <a href="@Url.Action("HuyDonHang","GioHang", new {id = item.idOrder})">
                <button class="btn btn-danger">HỦY ĐƠN</button>
            </a>
        }
        else if (item.deliveryStatus == "Đang chuẩn bị giao hàng")
        {
            <div class="progress-steps">
                <div class="step completed">
                    <div class="step-icon">&#10003;</div>
                    <div class="step-label">Đã xác nhận</div>
                </div>
                <div class="step in-progress">
                    <div class="step-icon">&#9711;</div>
                    <div class="step-label">Đang chuẩn bị giao hàng</div>
                </div>
                <div class="step">
                    <div class="step-icon">&#9711;</div>
                    <div class="step-label">Đang giao hàng</div>
                </div>
                <div class="step">
                    <div class="step-icon">&#9711;</div>
                    <div class="step-label">Chờ xử lý</div>
                </div>
            </div>
            <a href="javascript:void(0);" class="order-details-link" data-id="@item.idOrder">
                <div style="text-align: right; margin-top: 15px">
                    <button class="btn btn-primary">XEM CHI TIẾT</button>
                </div>
            </a>
        }
        else if (item.deliveryStatus == "Đang giao hàng")
        {
            <div class="progress-steps">
                <div class="step completed">
                    <div class="step-icon">&#10003;</div>
                    <div class="step-label">Đã xác nhận</div>
                </div>
                <div class="step completed">
                    <div class="step-icon">&#10003;</div>
                    <div class="step-label">Đã bàn giao cho đơn vị giao hàng</div>
                </div>
                <div class="step in-progress">
                    <div class="step-icon">&#9711;</div>
                    <div class="step-label">Đang giao hàng</div>
                </div>
                <div class="step">
                    <div class="step-icon">&#9711;</div>
                    <div class="step-label">Chờ xử lý</div>
                </div>
            </div>
            <a href="javascript:void(0);" class="order-details-link" data-id="@item.idOrder">
                <div style="text-align: right; margin-top: 15px">
                    <button class="btn btn-primary">XEM CHI TIẾT</button>
                </div>
            </a>
        }
        else if (item.deliveryStatus == "Giao hàng thành công")
        {
            <div class="progress-steps">
                <div class="step completed">
                    <div class="step-icon">&#10003;</div>
                    <div class="step-label">Đã xác nhận</div>
                </div>
                <div class="step completed">
                    <div class="step-icon">&#10003;</div>
                    <div class="step-label">Đã bàn giao cho đơn vị giao hàng</div>
                </div>
                <div class="step completed">
                    <div class="step-icon">&#10003;</div>
                    <div class="step-label">Đang giao hàng</div>
                </div>
                <div class="step completed">
                    <div class="step-icon">&#10003;</div>
                    <div class="step-label">Giao hàng thành công</div>
                </div>
            </div>
            <div>
                <b>Ngày giao hàng : @string.Format("{0:dd-MM-yyyy HH:mm:ss}", item.deliveryDate)</b>
            </div>
            <a href="javascript:void(0);" class="order-details-link" data-id="@item.idOrder">
                <div style="text-align: right; margin-top: 15px">
                    <button class="btn btn-primary">XEM CHI TIẾT</button>
                </div>
            </a>
        }
        else if (item.deliveryStatus == "Đơn hàng đã hủy")
        {
            <div class="progress-steps">
                <div class="step in-progress">
                    <div class="step-icon">&#10005;</div>
                    <div class="step-label">Đơn đã bị hủy</div>
                </div>
                <div class="step">
                    <div class="step-icon">&#9711;</div>
                    <div class="step-label">Đang đóng gói</div>
                </div>
                <div class="step">
                    <div class="step-icon">&#9711;</div>
                    <div class="step-label">Đang giao hàng</div>
                </div>
                <div class="step">
                    <div class="step-icon">&#9711;</div>
                    <div class="step-label">Chờ xử lý</div>
                </div>
            </div>
            <a href="javascript:void(0);" class="order-details-link" data-id="@item.idOrder">
                <div style="text-align: right; margin-top: 15px">
                    <button class="btn btn-primary">XEM CHI TIẾT</button>
                </div>
            </a>

        }


        <div class="product-details-container"></div>

    </div>

}
<div class="product__pagination" style="text-align:center">
    @for (int i = 1; i <= Model.PageCount; i++)
    {
        <a href="@Url.Action("TinhTrangGiaoHang", new {  id = ViewBag.Orderid,page = i })" class="@(i == Model.PageNumber ? "active" : "")">@i</a>
    }

    @if (Model.HasNextPage)
    {
        <a href="@Url.Action("TinhTrangGiaoHang", new {  id = ViewBag.Orderid,page = Model.PageNumber + 1 })">
            <i class="fa fa-long-arrow-right"></i>
        </a>
    }
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".order-details-link").click(function () {
            var orderId = $(this).data("id");
            var detailsContainer = $(this).siblings(".product-details-container");

            if (detailsContainer.is(":visible")) {
                detailsContainer.hide();
            } else {
                $.ajax({
                    url: "@Url.Action("ThongTinDonHang", "GioHang")",
                    data: { id: orderId },
                    type: "GET",
                    success: function (data) {
                        detailsContainer.html(data);
                        detailsContainer.show();
                    },
                    error: function () {
                        alert("Đã xảy ra lỗi trong quá trình tải chi tiết sản phẩm.");
                    }
                });
            }
        });
    });
    @if (TempData["SweetAlertMessage"] != null)
{
    <text>
    Swal.fire({
        title: '@TempData["SweetAlertMessage"]',
        icon: '@TempData["SweetAlertType"]',
        showConfirmButton: false,
        timer: 2000
    });
    </text>
}
</script>

