<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
          
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="@Url.Action("Index", "Products")">
                    <span class="icon-holder">
                        <i class="anticon anticon-appstore"></i>
                    </span>
                    <span class="title">Quản lý Sản phẩm</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="@Url.Action("Index", "ProductCategories")">
                    <span class="icon-holder">
                        <i class="anticon anticon-hdd"></i>
                    </span>
                    <span class="title">Quản lý Danh mục sản phẩm</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-team"></i>
                    </span>
                    <span class="title">Quản lý người dùng</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>

                        <a href="@Url.Action("Index", "Customers")">Danh sách khách hàng</a>
                    </li>
                    <li>

                        <a href="@Url.Action("Index", "UserAdmin")">Danh sách Admin</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-skin"></i>
                    </span>
                    <span class="title">Quản lý Size</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="@Url.Action("Index", "Sizes")">Danh sách size Clothes</a>
                        <a href="@Url.Action("Index", "ProductSize")">Danh sách size Clothes theo Products</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-skin"></i>
                    </span>
                    <span class="title">Quản lý đơn hàng</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="@Url.Action("Index", "Order")">Danh sách đơn hàng</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
