@model ClotheSstore.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2>Create</h2>
<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>

@using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="card" style="margin-top: 37px">
        <div class="card-body">
            <h4>Thêm mới khách hàng</h4>
            <h2 style="color:red">@ViewBag.ThongBao</h2>
            <div class="m-t-15">
                <form id="form-validation">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label control-label">Tên Sản phẩm*</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" name="nameProduct">
                            @Html.ValidationMessageFor(m => m.nameProduct, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label control-label">Mô tả*</label>
                        <div class="col-md-5">
                            <textarea name="describe" id="mota"> </textarea>
                            @Html.ValidationMessageFor(model => model.describe, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label control-label">Ảnh sản phẩm*</label>
                        <div class="col-md-5">
                            <input type="file" class="form-control" name="thumb">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label control-label">Trạng thái mở bán:</label>
                        <div class="form-group d-flex align-items-center">
                            <div class="switch m-r-10">
                                <input type="checkbox" id="switch-1" name="stock" value="true">
                                <label for="switch-1"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label control-label">Giá sản phẩm*</label>
                        <div class="col-md-5">
                            <input type="number" class="form-control" name="price">
                            @Html.ValidationMessageFor(m => m.price, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label control-label">Danh mục sản phẩm*</label>
                        <div class="col-md-5">
                            @Html.DropDownList("idProductCategory", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label control-label">Ngày thêm sản phẩm*</label>
                        <div class="col-md-5">
                            <input type="date" class="form-control" name="updateDay">
                            @Html.ValidationMessageFor(m => m.updateDay, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group text-left">
                        <button class="btn btn-success btn-tone m-r-5">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div>
            @Html.ActionLink("Quay về danh sách sản phẩm", "Index")
        </div>
    </div>
}
<script src="~/Areas/Style/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace('mota');
</script>