@model IEnumerable<ClotheSstore.Models.OrderDetail>
@{
    ViewBag.Title = "InfoOrderDetail";
    int i = 0;
}
<div class="order-details">
    <h2>Chi tiết sản phẩm</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Ảnh</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Size</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Giá</th>
                <th scope="col">Tổng tiền</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                i++;
                <tr>
                    <td>#@i</td>
                    <td><img src="~/Areas/Admin/Images/Product_Images/@product.Product_Size.Product.thumb" alt="" style="max-width: 60px"></td>
                    <td>@product.Product_Size.Product.nameProduct</td>
                    <td>@product.Size.nameSize</td>
                    <td>@product.quantity</td>
                    <td>@string.Format("{0:#,0} VNĐ", product.price)</td>
                    <td>@string.Format("{0:#,0} VNĐ", product.TotalPrice)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

